<nav class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-button pure-button-primary" href="/">Overview</a></li>
        <li class="pure-menu-item"><a class="pure-button pure-button-primary" href="/create">New review</a></li>
    </ul>
</nav>