<% include ../partials/header.ejs %>
<h1>Create a new review</h1>
<form method="post" class="pure-form pure-form-aligned">
    <p><%= description %></p>
    <div class="pure-control-group">
        <label for="artist">Artist name</label>
        <input type="text" name="artist" value="" />
    </div>
    <div class="pure-control-group">
        <label for="album">Album name</label>
        <input type="text" name="album" value="" />
    </div>
    <div class="pure-control-group">
        <label for="discovered-how">How did you discover the album?</label>
        <input type="text" name="discovered-how" value="" />
    </div>
    <div class="pure-control-group">
        <label for="first-listen-time">When did you first listen to the album?</label>
        <input type="text" name="first-listen-time" value="" />
    </div>
    <div class="pure-control-group">
        <label for="first-listen-duration">How long did you listen?</label>
        <input type="text" name="first-listen-duration" value="" />
    </div>
    <div class="pure-control-group">
        <label for="first-listen-interrupted">Were you interrupted during your first listen?</label>
        <input id="first-listen-interrupted-yes" type="radio" name="first-listen-interrupted" value="Yes"> Yes
        <input id="first-listen-interrupted-no" type="radio" name="first-listen-interrupted" value="No" checked> No
    </div>
    <div class="pure-control-group">
        <label for="first-listen-feeling">What was your first feeling or thought?</label>
        <input type="text" name="first-listen-feeling" value="" />
    </div>
    <div class="pure-control-group">
        <label for="listened-before">Did you ever listen to them before?</label>
        <input id="listened-before-yes" type="radio" name="listened-before" value="Yes"> Yes
        <input id="listened-before-no" type="radio" name="listened-before" value="No" checked> No
    </div>
    <div class="pure-control-group">
        <label for="listen-again">Would you listen to them again?</label>
        <input id="listen-again-yes" type="radio" name="listen-again" value="Yes" checked> Yes
        <input id="listen-again-no" type="radio" name="listen-again" value="No"> No
    </div>
    <div class="pure-control-group">
        <label for="listen-again-when">When would you listen again?</label>
        <input type="text" name="listen-again-when" value="" />
    </div>
    <div class="pure-control-group">
        <label for="describe-three-words">Describe in three words the album</label>
        <input type="text" name="describe-three-words" value="" />
    </div>
    <div class="pure-control-group">
        <label for="sounds-like">Does it sound like another band or album?</label>
        <input type="text" name="sounds-like" value="" />
    </div>
    <div class="pure-control-group">
        <label for="see-them-live">Would you listen to them again?</label>
        <input id="see-them-live-yes" type="radio" name="see-them-live" value="Yes" checked> Yes
        <input id="see-them-live-no" type="radio" name="see-them-live" value="No"> No
    </div>
    <div class="pure-control-group">
        <label for="rating">Rating</label>
        <input type="number" name="rating" value="1" step="0.5" min="0" max="5" />
    </div>
    <div class="pure-control-group">
        <label for="best-song">What was the best song?</label>
        <input type="text" name="best-song" value="" />
    </div>
    <div class="pure-control-group">
        <label for="continued-listening">Continued listening when?</label>
        <input type="text" name="continued-listening" value="" />
    </div>
    <div class="pure-control-group">
        <label for="new-rating">New rating</label>
        <input type="number" name="new-rating" value="1" step="0.5" min="0" max="5" />
    </div>
    <div class="pure-control-group">
        <label for="second-listen-feeling">What was your second feeling or thought?</label>
        <input type="text" name="second-listen-feeling" value="" />
    </div>
    <input type="submit" name="submit" class="pure-button pure-button-primary" value="Create review" />
</form>
<% include ../partials/footer.ejs %>